html {
  height: 100%;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  overflow-x: hidden;
  margin: 0;
  padding: 0;
  font-size: 16px;
  line-height: 1.1;
  font-family: sans-serif;
}

img {
  max-width: 100%;
  width: 100%;
  height: auto;
  object-fit: cover;
}

button {
  @include btn-reset;
}

ul {
  @include list-reset;
}

a {
  text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}
